@model IEnumerable<Article>

<div class="w-full my-8 text-[30px]">
    <a class="text-blue-600 visited:text-purple-600 ..." asp-controller="Article" asp-action="Create">
        Makale Ekle
    </a>
</div>

<div class="flex w-full p-4 text-[75px] font-bold justify-center items-center my-8 text-center">
    Makaleler
</div>

@if (Model != null && Model.Any())
{
    @foreach (var article in Model)
    {
        <div class="min-w-[75%] w-full lg:max-w-full lg:flex">
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDFFnFeI5Gg6ngxXKgqnDKwvZUK3HFB0eLOg&usqp=CAU')" title="Woman holding a mug">
            </div>
            <div class="border-r w-full border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8">
                    <p class="text-sm text-gray-600 flex items-center">
                        Kategori: @article.Category.Name
                    </p>
                    <div class="text-gray-900 font-bold text-xl mb-2">
                        @article.Title
                    </div>
                    <p class="text-gray-700 text-base">
                        @article.Content
                    </p>
                </div>
                <div class="flex w-full items-center justify-bewteen text-start font-bold space-x-16">
                    <a asp-controller="Article" asp-action="Update" asp-route-id="@article.Id" class="text-medium cursor-pointer font-bold text-[green] leading-6">Güncelle</a>
                    <form asp-controller="Article" asp-action="Delete" asp-route-id="@article.Id" method="post">
                        <button type="submit" class="text-medium cursor-pointer font-bold text-[red] leading-6">Sil</button>
                    </form>
                    <a asp-controller="Comment" asp-action="Index" asp-route-id="@article.Id" class="text-medium cursor-pointer font-bold text-[black] leading-6">Yorumlar</a>
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Kayıtlı Makale Bulunamadı</p>
}