@model IEnumerable<Comment>
@{
    int articleId = ViewBag.ArticleId ?? 0;
}

<div class="w-full my-8 text-[30px]">
    <a class="text-blue-600 visited:text-purple-600 ..." asp-controller="Comment" asp-action="Create" asp-route-id="@articleId">
        Yorum Ekle
    </a>
</div>

<div class="flex w-full p-4 text-[75px] font-bold justify-center items-center my-8 text-center">
    Yorumlar
</div>



@if (Model != null && Model.Any())
{
    <ul role="list" class="divide-y divide-gray-100">
        @foreach (var comment in Model)
        {

            <li class="flex justify-around gap-x-2 py-5">
                <div class="flex min-w-0 gap-x-4">
                    <img class="h-12 w-12 flex-none rounded-full bg-gray-50 object-cover" src="https://w7.pngwing.com/pngs/266/704/png-transparent-computer-icons-task-other-categories-miscellaneous-angle-text.png" alt="">
                    <div class="min-w-0 flex-auto">
                        <p class="text-medium font-semibold leading-6 text-gray-900">Ad: @comment.AuthorName</p>
                    </div>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    <p class="text-medium leading-6 text-gray-900">Soyad: @comment.AuthorSurname</p>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    <p class="text-medium leading-6 text-gray-900">Yorum: @comment.CommentContent</p>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    <p class="text-medium font-bold text-[green] leading-6">
                        <a asp-controller="Comment" asp-action="Update" asp-route-id="@comment.Id">
                            Güncelle
                        </a>
                    </p>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    <p class="text-medium font-bold text-[red] leading-6">
                        <form asp-controller="Comment" asp-action="Delete" asp-route-id="@comment.Id" method="post">
                            <button type="submit">
                                Sil
                            </button>
                        </form>
                    </p>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>İlk Yorum Ekleyen Ol</p>
}