@model Comment

<form asp-controller="Comment" asp-action="Update" class="w-full max-w-sm">
    <input type="hidden" asp-for="@Model.ArticleId" value="@Model.ArticleId" />
    <div class="md:flex md:flex-col md:items-start my-8">
        <div class="md:w-full mt-6">
            <label class="block text-gray-500 font-bold mb-1 pr-4" for="inline-full-name">
                Ad
            </label>
            <input asp-for="@Model.AuthorName" type="text" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name">
        </div>

        <div class="md:w-full mt-6">
            <label class="block text-gray-500 font-bold mb-1 pr-4" for="inline-full-name">
                Soyad
            </label>
            <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" asp-for="@Model.AuthorSurname" type="text">
        </div>

        <div class="md:w-full mt-6">
            <label class="block text-gray-500 font-bold mb-1 pr-4" for="inline-full-name">
                İçerik
            </label>
            <textarea class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" asp-for="@Model.CommentContent" type="text"></textarea>
        </div>

        <div class="md:w-full mt-6">
            <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
                Kaydet
            </button>
        </div>
    </div>
</form>